.consultation {
    .title_small {
        display: none;
    }
}

@media (max-width: 1024px) {
    .promo {
        background: url(../img/bg/main_bg.jpg) -100px (center / cover) no-repeat;
    }
    .carousel {
        &__inner {
            width: 505px;
        }
    }
    .catalog {
        &__tab {
            width: 200px;
        }
        &__content {
            width: 632px;
            margin: 60px auto 0;
        }
    }
    .footer {
        &__info {
            width: 380px;
            height: 236px;
            margin-top: 50px;
        }
        &__addr {
            margin-top: 35px;
        }
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 26px;
    }
    .container {
        padding: 0 15px;
    }

    .header {
        &__official {
            display: none;
        }
        &__contacts {
            margin-left: 25px;
        }
        &__phone {
            font-size: 17px;
        }
    }

    .promo {
        background: url(../img/bg/main_bg.jpg) -200px (center / cover) no-repeat;
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            width: 395px;
        }
    }

    .button_main {
        width: 275px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }

    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        &__item {
            width: 320px;
            margin-top: 40px;
            h3 {
                margin: 25px 0 20px;
            }
        }
    }

    .consultation {
        .title {
            font-size: 18px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .carousel {
        &__inner {
            width: 396px;
        }
    }
    .catalog {
        &__tab {
            font-size: 13px;
            width: 170px;
            height: 40px;
        }
        &__content {
            width: 316px;
        }
    }
    .review {
        flex-direction: column;
        align-items: center;
        &__img {
            width: 140px;
            height: 140px;
        }
        &__content {
            margin: 20px 0 0;
            width: 80vw;
        }
        &__text {
            padding-right: 0;
            font-size: 14px;
            line-height: 23px;
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 200px;
            margin-top: 50px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            margin-top: 25px;
        }
        &__social {
            margin: 25px auto 0;
            &-item {
                width: 40px;
                height: 40px;
                img {
                    height: 22px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 10px;
    }

    .promo {
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 355px;
        }
    }
    .consultation {
        .title_small {
            display: block;
        }
        .title_large {
            display: none;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .catalog {
        &__tab {
            &_big {
                display: none;
            }
            &_small {
                display: block;
            }
        }
        &__content {
            width: 300px;
        }
    }
    .carousel {
        &__inner {
            width: 355px;
        }
    }
    .footer {
        &__info {
            width: 280px;
        }
        &__addr {
            font-size: 16px;
        }
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 24px;
    }
    .header {
        flex-direction: column;
        &__contacts {
            margin: 10px 0 0;
            align-self: flex-end;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            margin: 0;
            flex-direction: column;
            align-items: center;
            width: auto;
        }
        &__icon {
            margin-top: 40px;
            width: 170px;
        }
    }

    .advantages {
        .title {
            font-size: 24px;
        }
        &__item {
            width: 230px;
        }
    }

    .consultation {
        &__descr {
            font-size: 14px;
        }
    }
    .carousel {
        &__inner {
            width: 300px;
        }
    }
    .footer {
        &__info {
            width: 225px;
            height: 180px;
        }
        &__addr {
            margin-top: 20px;
        }
        &__phone {
            margin-top: 20px;
        }
        &__social {
            width: 170px;
            margin: 20px auto 0;
        }
    }
}

