@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Museo Sans Cyril', sans-serif;
}

.container {
    max-width: 1024px;
    padding: 0 37px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';

@import 'base/media';