@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Museo Sans Cyril', sans-serif;
}

.container {
    max-width: 1024px;
    padding: 0 37px;
    margin: 0 auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media';